In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/NaveenkumarMD/Machine-learning-lab/main/Bayes%20theorem/data.csv")
df

             Name Give Birth Can Fly Live in Water Have Legs        Class
0   leoeard shark        yes      no           yes        no  non-mammals
1          turtle         no      no     sometimes       yes  non-mammals
2         penguin         no      no     sometimes       yes  non-mammals
3       porcupine        yes      no            no       yes      mammals
4             eel         no      no           yes        no  non-mammals
5      salamander         no      no     sometimes       yes  non-mammals
6    gila monster         no      no            no       yes  non-mammals
7             owl         no     yes            no       yes  non-mammals
8         dolphin        yes      no           yes        no      mammals
9           eagle         no     ves            no       ves  non-mammals
10          human        yes      no            no       ves      mammals
11         python         no      no            no        no  non-mammals
12         salmon         no      no           yes        no  non-mammals
13          whale        yes      no           yes        no      mammals
14           frog         no      no     sometimes       ves  non-mammals
15         komodo         no      no            no       ves  non-mammals
16            bat        yes     yes            no       ves      mammals
17         pigeon         no     yes            no       ves  non-mammals
18            cat        yes      no            no       ves      mammals
19       platypus         no      no           no        yes      mammals

In [24]:
give_birth_arr=df["Give Birth"].to_numpy()
can_fly_arr=df["Can Fly"].to_numpy()
live_in_water_arr=df["Live in Water"].to_numpy()
live_in_water_arr=np.array([i.strip() for i in live_in_water_arr])
have_legs_arr=df["Have Legs"].to_numpy()
class_arr=df["Class"].to_numpy()
live_in_water_arr

array(['yes', 'sometimes', 'sometimes', 'no', 'yes', 'sometimes', 'no',
       'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'sometimes', 'no',
       'no', 'no', 'no', 'no'], dtype='<U9')

In [25]:
gb_unique=np.unique(give_birth_arr)
cf_unique=np.unique(can_fly_arr)
lw_unique=np.unique(live_in_water_arr)
hl_unique=np.unique(have_legs_arr)
cl_unique=np.unique(class_arr)
print(gb_unique)
print(cf_unique)
print(lw_unique)
print(hl_unique)
print(cl_unique)
totallen=len(give_birth_arr)
totallen

['no' 'yes']
['no' 'ves' 'yes']
['no' 'sometimes' 'yes']
['no' 'ves' 'yes']
['mammals' 'non-mammals']

20

In [26]:
from collections import Counter
gb_count=Counter(give_birth_arr)
cf_count=Counter(can_fly_arr)
lw_count=Counter(live_in_water_arr)
hl_count=Counter(have_legs_arr)
cl_count=Counter(class_arr)
print(gb_count)
print(cf_count)
print(lw_count)
print(hl_count)
print(cl_count)

Counter({'no': 13, 'yes': 7})
Counter({'no': 16, 'yes': 3, 'ves': 1})
Counter({'no': 11, 'yes': 5, 'sometimes': 4})
Counter({'yes': 7, 'ves': 7, 'no': 6})
Counter({'non-mammals': 13, 'mammals': 7})

In [29]:
gb_prob={
    i:{} for i in gb_unique
}
cf_prob={
    i:{} for i in cf_unique
}
lw_prob={
    i.strip():{} for i in lw_unique
}
hl_prob={
    i:{} for i in hl_unique
}
for i in range(totallen):
  if class_arr[i] not in gb_prob[give_birth_arr[i]]:
    gb_prob[give_birth_arr[i]][class_arr[i]]=1/cl_count[class_arr[i]]
  else:
    gb_prob[give_birth_arr[i]][class_arr[i]]+=1/cl_count[class_arr[i]]
for i in range(totallen):
  if class_arr[i] not in cf_prob[can_fly_arr[i]]:
    cf_prob[can_fly_arr[i]][class_arr[i]]=1/cl_count[class_arr[i]]
  else:
    cf_prob[can_fly_arr[i]][class_arr[i]]+=1/cl_count[class_arr[i]]

for i in range(totallen):
  if class_arr[i] not in lw_prob[live_in_water_arr[i]]:
    lw_prob[live_in_water_arr[i]][class_arr[i]]=1/cl_count[class_arr[i]]
  else:
    lw_prob[live_in_water_arr[i]][class_arr[i]]+=1/cl_count[class_arr[i]]
for i in range(totallen):
  if class_arr[i] not in hl_prob[have_legs_arr[i]]:
    hl_prob[have_legs_arr[i]][class_arr[i]]=1/cl_count[class_arr[i]]
  else:
    hl_prob[have_legs_arr[i]][class_arr[i]]+=1/cl_count[class_arr[i]]
print(gb_prob)
print(hl_prob)
print(cf_prob)
print(lw_prob)

{'no': {'non-mammals': 0.9230769230769229, 'mammals': 0.14285714285714285}, 'yes': {'non-mammals': 0.07692307692307693, 'mammals': 0.857142857142857}}
{'no': {'non-mammals': 0.3076923076923077, 'mammals': 0.2857142857142857}, 'ves': {'non-mammals': 0.3076923076923077, 'mammals': 0.42857142857142855}, 'yes': {'non-mammals': 0.38461538461538464, 'mammals': 0.2857142857142857}}
{'no': {'non-mammals': 0.7692307692307692, 'mammals': 0.857142857142857}, 'ves': {'non-mammals': 0.07692307692307693}, 'yes': {'non-mammals': 0.15384615384615385, 'mammals': 0.14285714285714285}}
{'no': {'mammals': 0.7142857142857142, 'non-mammals': 0.46153846153846156}, 'sometimes': {'non-mammals': 0.3076923076923077}, 'yes': {'non-mammals': 0.23076923076923078, 'mammals': 0.2857142857142857}}

In [33]:
#testing
a='yes'
b="no"
c="yes"
d="no"
mam_prob=gb_prob[a]['mammals']+hl_prob[b]['mammals']+lw_prob[c]["mammals"]+cf_prob[d]["mammals"]
non_mam_prob=gb_prob[a]['non-mammals']+hl_prob[b]['non-mammals']+lw_prob[c]["non-mammals"]+cf_prob[d]["non-mammals"]
if non_mam_prob>mam_prob:
  print("non-mammals")
else:
  print("mammals")

mammals